@define-color background #282828;
@define-color foreground #ebddd2;
@define-color selected rgba(0, 0, 0, 0.4);

@define-color blue #458588;
@define-color green #689d6a;
@define-color yellow #d79921;
@define-color red #cc241d;
@define-color magenta #b16286;
@define-color orange #d65d0e;

* {
  background: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "MesloLGM Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 15px;
}

.modules-left {
  margin-left: 8px;
}

.modules-center,
.modules-right {
  margin-right: 8px;
}

/* workspaces */
#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock {
  padding: 0 10px;
  font-weight: 600;
}

#tray {
  margin-right: 8px;
}

#cpu,
#memory,
#disk {
  padding: 0 8px;
}

#battery {
  padding: 0 10px;
}

#network {
  margin-right: 20px;
}

#bluetooth {
  margin-right: 8px;
}

#pulseaudio {
  margin-right: 8px;
}


/* interactive icons */
#custom-os {
  padding: 0 6px;
  margin-right: 6px;
}

#custom-lock {
  padding: 0 8px;
  margin-right: 8px;
}

#idle_inhibitor {
  padding: 0 8px;
  margin-right: 10px;
}

#custom-suspend,
#custom-reboot,
#custom-power {
  padding: 0 8px;
  margin-right: 8px;
}

/* battery states */
#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

/* audio/network states */
#pulseaudio.muted {
  color: @red;
}

#network.disconnected {
  color: @red;
}

/* power button emphasis */
#custom-power {
  color: @red;
}

#custom-power:hover,
#custom-reboot:hover,
#custom-suspend:hover,
#idle_inhibitor:hover,
#custom-lock:hover {
  background: @selected;
}