// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Terminals
window-rule {
    match app-id="foot"
    open-on-workspace "1terminal"
    open-maximized true
}
window-rule {
    match app-id="Alacritty"
    open-maximized true
}

// Web browsers
window-rule {
    match app-id=r#"^app\.zen_browser\.zen"# 
    open-maximized true
}

// Open the Zen picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"^app\.zen_browser\.zen"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.signal\.Signal"#
    match app-id=r#"^Bitwarden"#
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

